body {
	background: #000;
    font: 1.3em/160% Verdana,sans-serif;
    color: #c09840;

    user-select: none;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

a {
	color: white;
}

.dune {
	position: fixed;
	width: 640px;
	heigth: 288px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
}

.container {
	margin: auto;
}

.select_house {
	position: relative;
	width: 259px;
	margin: 60px auto 90px auto;
}

.absolute {
	position: absolute;
	left: 0px;
	top: 0px;
}

.houses {
	margin: auto;
	width: 600px;
}

.house {
	position: relative;
	width: 166px;
	height: 182px;
	display: inline-block;
	cursor: pointer;
}

.spacing {
	width: 30px;
	display: inline-block;
}

.top, .underline {
	position: relative;
	margin: 60px auto 10px auto;
	border-bottom: 1px solid #c09840;
	width: 600px;
	text-align: center;
}

.full {
	width: 90% !important;
}

.scores, .default {
	margin: auto;
	width: 600px;
	overflow: hidden;
}

.scores ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.scores ol {
    counter-reset: item;
    margin-left: 0;
    padding: 1em 1em;
    background: rgba(77, 77, 77, 0.5);
}

.scores a {
	text-decoration: none;
	border-bottom: 1px dashed;
	color: #c09840;
}

a.no-link {
	border: none;
	text-decoration: none;
	color: #c09840;
}

.scores ol li {
    display: block;
    margin-bottom: .5em;
    margin-left: 3em;
}

.scores ol li.head {
    margin-left: 1.5em;
}


.scores ol li.head:before {
    display: none;
}

.scores ol li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    width: 3em;
    margin-left: -3em;
    text-align: right;
}

.score_house {
	display: inline-block;
	width: 150px;
}

.score_player {
	display: inline-block;
	width: 300px;
}

.score_player_big {
	display: inline-block;
	width: 450px;
}

.score {
	display: inline-block;
	width: 130px;
	text-align: right;
}

.score-right {
	float: right; 
}

.atreides {
	color: #77F !important;
}

.ordos {
	color: #7F7 !important;
}

.harkonnen {
	color: #F77 !important;	
}

.canvas-container {
	margin: auto;
	width: 642px;
	height: 402px;
    border: 1px solid rgb(20, 20, 20);
}

#status {
	width: 600px;
	margin: 30px auto;
}

.dune_title {
	position: relative;
	width: 619px;
	height: 123px;
	margin: 30px auto;
}

.dune_title h1 {
	font-size: 1em;
	text-align: center;
}

a.edit {
	background: url('../img/edit.png');
	width: 16px;
	height: 16px;
	display: inline-block;
	text-decoration: none;
	border: none;
	margin: 0px;
}

.form form {
	width: 100%;
}

.form input {
	margin: 5px 5px 15px 15px;
	border-radius: 3px;
	border: 1px solid #ada9a5;
	padding: 4px;
	box-shadow: inset 0 0 3px #f1f0ef;
	outline: none;
	font-size: 1em;
}

.form input[type="text"],
.form input[type="password"] {
	display: inline-block;
	width: 400px;
}

.form input:focus {
	border: 1px solid #cd5728;
	box-shadow: inset 0 0 3px #ffcfbc;
}

button {
    font-size: 1em;
    padding: 5px 20px;
    background: none repeat scroll 0% 0% rgb(234, 236, 234) !important;
    color: rgb(34, 34, 34) !important;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-transition-duration: 0.2s;
    -moz-user-select: none;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.green-button {
	background: none repeat scroll 0% 0% rgb(134, 234, 134) !important;
}

.footer {
	font-size: 0.5em;
	position: fixed;
	bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	background: rgba(77, 77, 77, 0.5);
}

.footer a {
	text-decoration: none;
}

.footer form {
	margin: auto;
	padding-top: 10px;
}

.right {
	right: 0px;
}

.left {
	left: 0px;
}

.back {
	position: absolute;
	left: 0px;
	top: 0px;
}
