body {
	background: #000;
    font: 1.3em/160% Verdana,sans-serif;
    color: #c09840;

    user-select: none;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

a {
	color: white;
}

.dune {
	position: fixed;
	width: 640px;
	heigth: 288px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
}

.container {
	margin: auto;
}

.select_house {
	position: relative;
	width: 259px;
	margin: 60px auto 90px auto;
}

.absolute {
	position: absolute;
	left: 0px;
	top: 0px;
}

.houses {
	margin: auto;
	width: 600px;
}

.house {
	position: relative;
	width: 166px;
	height: 182px;
	display: inline-block;
	cursor: pointer;
}

.spacing {
	width: 30px;
	display: inline-block;
}

.top {
	margin: 60px auto 10px auto;
	border-bottom: 1px solid #c09840;
	width: 600px;
	text-align: center;
}

.full {
	width: 90% !important;
}

.scores {
	margin: auto;
	width: 600px;
	overflow: hidden;
}

.scores ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.scores ol {
    counter-reset: item;
    margin-left: 0;
    padding: 1em 1em;
    background: rgba(77, 77, 77, 0.5);
}

.scores a {
	text-decoration: none;
	border-bottom: 1px dashed;
	color: #c09840;
}

.scores a.no-link {
	border: none;
}

.scores ol li {
    display: block;
    margin-bottom: .5em;
    margin-left: 3em;
}

.scores ol li.head {
    margin-left: 1.5em;
}


.scores ol li.head:before {
    display: none;
}

.scores ol li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    width: 3em;
    margin-left: -3em;
    text-align: right;
}

.score_house {
	display: inline-block;
	width: 150px;
}

.score_player {
	display: inline-block;
	width: 300px;
}

.score {
	float: right;
	display: inline-block;
	width: 130px;
	text-align: right;
}

.atreides {
	color: #77F !important;
}

.ordos {
	color: #7F7 !important;
}

.harkonnen {
	color: #F77 !important;	
}

.canvas-container {
	margin: auto;
	width: 642px;
	height: 402px;
    border: 1px solid rgb(20, 20, 20);
}

#status {
	width: 600px;
	margin: 30px auto;
}

.dune_title {
	position: relative;
	width: 619px;
	height: 123px;
	margin: 30px auto;
}

.dune_title h1 {
	font-size: 1em;
	text-align: center;
}