@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/quattrocentosans-bold-webfont.eot");
  src: url("../fonts/quattrocentosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-bold-webfont.woff") format("woff"), url("../fonts/quattrocentosans-bold-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-bold-webfont.svg#QuattrocentoSansBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/quattrocentosans-bolditalic-webfont.eot");
  src: url("../fonts/quattrocentosans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-bolditalic-webfont.woff") format("woff"), url("../fonts/quattrocentosans-bolditalic-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-bolditalic-webfont.svg#QuattrocentoSansBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/quattrocentosans-italic-webfont.eot");
  src: url("../fonts/quattrocentosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-italic-webfont.woff") format("woff"), url("../fonts/quattrocentosans-italic-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-italic-webfont.svg#QuattrocentoSansItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/quattrocentosans-regular-webfont.eot");
  src: url("../fonts/quattrocentosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-regular-webfont.woff") format("woff"), url("../fonts/quattrocentosans-regular-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-regular-webfont.svg#QuattrocentoSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Copse';
  src: url("../fonts/copse-regular-webfont.eot");
  src: url("../fonts/copse-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/copse-regular-webfont.woff") format("woff"), url("../fonts/copse-regular-webfont.ttf") format("truetype"), url("../fonts/copse-regular-webfont.svg#CopseRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font: 14px/22px "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000 url("/img/dune.png") no-repeat right bottom;
}

form {
  -webkit-border-radius: 5px;

  border-radius: 5px;
  border: 2px solid rgba(180, 180, 235, 1);
  
  background: rgba(188, 169, 137, 0.9);

  margin: 30px auto;
  padding: 15px 30px;
  width: 748px;
}

input[type="text"],
input[type="password"] {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #ccc;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

.w120 {
  width: 120px;
  display: inline-block;
}

.w350 {
  width: 350px;
  display: inline-block;
}

.padding {
  padding-left: 20px;
}

.error {
  background: rgb(232, 202, 202);
  border: 1px solid gray;
  padding: 5px;
  font-weight: bold;
}