<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<% vars.locale %>" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <% vars.commons.title %>
    <% vars.commons.meta %>
    <% vars.commons.css %>
    <% vars.commons.script(arguments) %>

    <link rel="stylesheet" href="<% request.uri_base %>/css/style.css?v=4.0">
    <link rel="stylesheet" href="<% request.uri_base %>/css/pygment_trac.css?v=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>

    <div class="header">
      <% vars.commons.advertisment %>
      <% vars.commons.header %>
    </div>

    <div class="wrapper">
      <section>
        <h1><% vars.i18n.title %></h1> 
        <% content %>
      </section>
    </div>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  <footer>
    <% vars.i18n.lang %>
  </footer>

  </body>
</html>